@{
    ViewData["Title"] = "Login - WeatherApplication";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Use the same layout as other pages
}

<div class="form-section">
    <h2>Login</h2>
    <p>Welcome back! Please login to your account.</p>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <br />
        <input type="password" name="password" placeholder="Password" required />
        <br />
        <div class="flex">
            <input type="checkbox" name="remember" />
            <p>Remember me</p>
        </div>
        <br />
        <input class="primary-btn" type="submit" name="login" value="Login" />
    </form>
    <a href="#">Forgot Password?</a><br />
    <a href="#">Can't access your account?</a>
    <h5>Not a member yet? <span class="bold"><a href="#">Register now</a></span> and get started!</h5>
</div>
